<!-- <%@ page language="java" contentType="text/html; charset=ISO-8859-1" pageEncoding="ISO-8859-1"%>  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<!-- *** -->
<title>SPECS Secure Web Container Application</title>
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css"  type="text/css" rel="stylesheet">
<link href="css/bootstrap_wizard/prettify.css" type="text/css" rel="stylesheet">
<link href="css/XMLDisplay.css" type="text/css" rel="stylesheet">
<!-- *** -->

<style type="text/css">
	body {
		padding-top: 60px;
		padding-bottom: 40px;
	}
	
	.sidebar-nav {
		padding: 9px 0;
	}
</style>
<!-- *** -->
</head>
		<!-- **************************************************************************************************************************** -->	
<body ng-app="SPECS-APP-NEGOTIATION">

 <!-- 
<jsp:include page="./navigator.jsp">
<jsp:param  name="_neg" value="class='active'"/>
</jsp:include>
 -->

	<div class='container'>

		<section id="wizard">
			<div class="page-header">
				<h1>SPECS Application</h1>
			</div>

			<div id="rootwizard">
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<ul>
								<li><a href="#tab1" data-toggle="tab">Start</a></li>
								<li><a href="#tab2" data-toggle="tab">Select SDT</a></li>
								<li><a href="#tab3" data-toggle="tab">Select Capabilities</a></li>
								<li><a href="#tab4" data-toggle="tab">Select Security Controls</a></li>
								<li><a href="#tab5" data-toggle="tab">Define Agreement Terms</a></li>
								<li><a href="#tab6" data-toggle="tab">Overview SLA</a></li>
							</ul>
						</div>
					</div>
				</div>
<!-- **************************************************************************************************************************** -->	
					<ul class="pager wizard">
						<li class="previous first" style="display: none;"><a href="#">First</a></li>
						<li class="previous"><a href="#">Previous</a></li>
						<li class="next last" style="display: none;"><a href="#">Last</a></li>
						<li class="next"><a href="#">Next</a></li>
					</ul>					
<!-- **************************************************************************************************************************** -->				
				
				
				<div class="tab-content">
					
<!-- START -->
<div class="tab-pane" id="tab1"> 
						
			<div class="panel panel-default">
				<div class="panel-heading">
  					<h2>Start SLA Negotiation</h2>
				</div>
				<div class="panel-body ">
					<div class="well">
					  This wizard enable you to Negotiate the security level of the services you are acquiring
					</div>
				</div>
			</div>
					 
</div><!-- end of tab1 -->
<!-- end of START -->					
				
												<!-- ***************************  -->
<!-- SDT -->
<div class="tab-pane" id="tab2">
		
			<div class="panel panel-default">
						<div class="panel-heading">
							<h2>Service Selection</h2>
						</div>
						<div class="panel-body ">
							<div class="well">
							Select the services you aims at having covered by an SLA
							</div>
						</div>
					
						<div ng-controller="general as general" ng-show="general.sdts">
							<table class="table">
								<thead>
								<tr>
									<td></td> <td>Service Description Term</td> 
								</tr>
								</thead>
								<tbody>
								  <tr ng-repeat="sdt in general.sdts">
									<td><input type="radio" name="SDT_list" id="SDT_{{sdt.id}}" value="{{sdt.id}}"></td> <td>{{sdt.name}}</td> 
								   </tr>
								</tbody>
							</table>					
						
						</div>
			</div>
			
			
			
</div><!-- end of tab2 -->					 
<!-- end of START -->					
				
												<!-- ***************************  -->		
					
<!-- CAPABILITIES -->					
<div class="tab-pane" id="tab3">
		
			<div class="panel panel-default">
						<div class="panel-heading">
							<h2>Security Capabilities</h2>
						</div>
						<div class="panel-body ">
							<div class="well">
							Security capabilities are collection of security controls, i.e. safeguards and countermeasures, that can be applied over your services.
							Select the security capabilities you are interested on. We will activate all the services and procedures needed to enforce and monitor the capability you selects. 
							</div>
						</div>
						
						<table class="table" ng-controller="general as general"  >
							<thead ng-show="Object.keys(general.sdts[general.choicedSDT[0]].capabilities).length">
							<tr>
								<td></td>
								<td> Capability Name  </td>
								<td> Description </td>
							<tr>
							<thead>
							<tbody>
								<tr ng-repeat="(key, cap) in general.sdts[general.choicedSDT[0]].capabilities">
									<td><input type="checkbox" name="capabilityCB" id="capability_{{cap.id}}" value="{{cap.id}}"/></td>
									<td> {{cap.name}}  </td>
									<td> {{cap.descr}} </td>
								<tr/>
							</tbody>
						</table>
						
			</div>				
</div><!-- end of atab3 -->
<!-- end of CAPABILITIES -->					
					
												<!-- ***************************  -->		
					
<!-- Security Controls -->					
<div class="tab-pane" id="tab4">
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2>Security Controls</h2>
						</div>
						<div class="panel-body ">
							<div class="well">
							According to the security capabilities chosen, we activate the following security controls. 
							Give an importance to each control according to your requirements.
							If you are not a security expert, just adopt the default values (i.e. skip this step of the wizard)
							</div>
						</div>

						<div  ng-controller="general as general">
						<div class="well"  ng-show="general.choicedCapabilities.length" >
							
							<div class="panel panel-default" ng-repeat="capability in general.choicedCapabilities">
								<div class="panel-heading">
									<h2>{{general.sdts[general.choicedSDT[0]].capabilities[capability.id].name}}</h2>
								</div>
								<div class="panel-body" ng-repeat="framework in general.sdts[general.choicedSDT[0]].capabilities[capability.id].frameworks">
									<div class="well">
										<div class="panel panel-default">
											<!-- Default panel contents -->
											<div class="panel-heading">{{framework.id}}</div>
											<div class="panel-body">

											<!-- List group -->
											<ul class="list-group">
												<li class="list-group-item" ng-repeat="control in framework.securityControls">  
												<input type="checkbox" name="SC_CBs" id="SC_CB_{{control.id}}" value="{{capability.id}}^{{control.id}}"/> {{control.id}} <br/>
												Importance weight:												
												<select id='SC_IMPORTANCE_{{control.id}}' >
													<option ng-repeat="importance in general.importances" value='{{importance}}'>{{importance}}</option>
												</select> <br/>
												
												
												</li>
											</ul>
										</div>
										
										</div>
									</div>

								</div>
							</div>
						</div>
						</div>
					</div>	
</div> <!-- end tab4 -->
<!-- end of Security Controls -->		
												<!-- ***************************  -->		
					
<!-- Metrics and agreement -->					
<div class="tab-pane" id="tab5">
					
					<div class="panel panel-default">
							
							<div class="panel-heading">
								<h2>Service Level Objectives</h2>
							</div>
							<div class="panel-body ">
								<div class="well">
								According to the capabilities and controls chosen, we have identified a set of Security metrics that you can monitor in order to verify the respect of the agreement. 
								Please fill in, for each metric, the security level you aims at obtaining and the importance according to your requirement.
								Even in this case, if you are not a security expert, just adopt the default values (i.e. skip this step of the wizard)
								</div>
							</div>
								<div ng-controller="general as general">
									<div class="well"  > <!-- ng-show="$('input:checkbox[name=\'SC_CBs\']:checked').length!=0" -->
									
										<div class="panel panel-default"  ng-repeat="capability in general.choicedCapabilities" ng-show="capability.controls.length">
											<!-- Default panel contents -->
											<div class="panel-heading">{{general.sdts[general.choicedSDT[0]].capabilities[capability.id].name}}</div>
											<div class="panel-body">
												<!-- List group -->
											<ul class="list-group">
												<li class="list-group-item" ng-repeat="control in capability.controls">
												
												<input type="checkbox" name="METRICS_CBs" id="METRICS_CB_{{general.metrics[control].name}}" value="{{general.metrics[control].name}}"/>{{general.metrics[control].name}} <br/>
												Importance: <select id='SLO_IMPORTANCE_{{general.metrics[control].name}}' >
													<option ng-repeat="importance in general.importances" value='{{importance}}'>{{importance}}</option>
												</select> <br/>
												Expression: <input type="text"  id="SLO_EXP_{{general.metrics[control].name}}" value="{{general.metrics[control].expression}}" /> <br/>
												
												</li>
											</ul>
												 
											</div>
										</div>
									</div>
				 			</div>
				   </div> 
</div> <!-- tab5 -->
<!-- end of Metrics and agreement -->

												<!-- ***************************  -->		
					
<!-- SHOW SLA -->					
<div class="tab-pane" id="tab6">
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2>Negotiated SLA</h2>
						</div>
						<div class="panel-body ">
							<div class="well">
							According to the negotiation process, we propose you the following SLA.
							If you accept it, it will be stored in your collection of negotiated SLA.
							In order to make it valid you need to SIGN the SLA.
							In order to make it operative you need to IMPLEMENT the SLA.
							</div>
						</div>
					
						<button class="btn btn-primary" onclick="submitSLA(); window.location.replace('./sign.do');">SUBMIT AGREEMENT</button>
						<div id="SLA-OFFER"></div>
						<button class="btn btn-primary" onclick="submitSLA(); window.location.replace('./sign.do');">SUBMIT AGREEMENT</button>
					</div>
					
</div> <!-- tab6 -->
<!-- end of SHOW SLA -->


<!-- **************************************************************************************************************************** -->					
<!-- **************************************************************************************************************************** -->					
					<ul class="pager wizard">
						<li class="previous first" style="display: none;"><a href="#">First</a></li>
						<li class="previous"><a href="#">Previous</a></li>
						<li class="next last" style="display: none;"><a href="#">Last</a></li>
						<li class="next"><a href="#">Next</a></li>
					</ul>
				</div>
			</div>

<!-- <jsp:include page="./footer.jsp"/>  -->
<!-- **************************************************************************************************************************** -->
<!-- **************************************************************************************************************************** -->	
<!-- **************************************************************************************************************************** -->
<!-- **************************************************************************************************************************** -->	

<!--			<script src="http://code.jquery.com/jquery-latest.js"></script> -->
			<script src="bootstrap/js/jquery.min.js"></script>
			
			<script src="bootstrap/js/bootstrap.min.js"></script>
			<script src="js/bootstrap_wizard/jquery.bootstrap.wizard.js"></script>
			<script src="js/bootstrap_wizard/prettify.js"></script>
						<!-- *************************** -->	
			<script src="js/XMLDisplay.js"></script>
			<script src="js/jquery.xpath.js"></script>
			<script src="js/angular.js"></script>
					<!-- *************************** -->	
			<script src="js/specs_app.js"></script>
					<!-- *************************** -->

<!--  ANGULAR -->
<script>

	  var app = angular.module('SPECS-APP-NEGOTIATION', []);

	  app.controller('general', function(){
			this.sdts = _sdtsList;
		    this.choicedSDT = _choicedSDT;
		    this.choicedCapabilities = _choicedCapabilities;
		    this.metrics = _metrics;
		    //////
		    this.importances =  getWeightConstraints();
	  });

	  var _sdtsList=[]; 
	  var _choicedSDT= [];
	  var _choicedCapabilities = [];
	  var _metrics ={};
	  
</script>
					
<!-- Page constructors -->					
<script> 
	
	function getWeightConstraints() {
		/*
		//wsag:Item[@wsag:Name='specs:importance_weight']
	*/
		return ["LOW","MEDIUM","HIGH"];	
	}
  
	
	function parseTemplate(){
		
		var template = $.parseXML(_slaTEMPLATE);
		
		//agreement
		var agreementsDOM = $(template).find('GuaranteeTerm');
		var agreements = {};
		
		for (var n=0 ; n < agreementsDOM.size() ; n++){
			var capability = $(agreementsDOM.get(n)).attr('wsag:Name');
			//TODO	
		}
		
		//slos
		var slosDOM = $(template).find('SLO');
		var slos = {};
		for (var p=0 ; p < slosDOM.size() ; p++){
			
			var variableName= $(slosDOM.get(p)).attr('name');
			
			var exppp = $( $(slosDOM.get(p)).find('expression')[0]).text();
			var imppp = $( $(slosDOM.get(p)).find('importance_weight')[0]).text();
			
			slos[variableName] = {
					variable : variableName,
					expression: exppp,
					importance: imppp
			};
		}
		

		//metrics
		var allVariables = $(template).find('ServiceProperties').find('VariableSet').find('Variable');
		
		for(var i = 0; i < allVariables.size(); i++){
			
			var locationXpath = $($(allVariables.get(i)).find('Location')[0]).text();
			var securityControlID = $(template).xpath(locationXpath, resolveXpathPrefixes);
			
			if (securityControlID.size()==1){
				securityControlID = securityControlID[0].getAttribute('id');
			}else{
				continue;
			}
			
			var varName =allVariables.get(i).getAttribute ('wsag:Name');
			
			_metrics[securityControlID]={
					name: varName,
					securityControlXpath: locationXpath ,
					metricDefinitionXPath: allVariables.get(i).getAttribute('wsag:Metric'),
					importance: (slos[varName] ? slos[varName].importance : null),
					expression: (slos[varName] ? slos[varName].expression : null)
			};
		}//for metrics
				
		
		var sdts = $(template).find("ServiceDescriptionTerm");
		for (var m = 0; m < sdts.size(); m++) {	
						
			var capabilitiesDom = $(sdts.get(m)).find('capability');
			var capabilities = {};
			
			for (var i = 0; i < capabilitiesDom.size(); i++) {

                var capability = $(capabilitiesDom.get(i));				
				var frameworksDom = $(capability).find('control_framework');
				var frameworks = {};
				
				for (var j = 0 ; j < frameworksDom.size(); j++){
					
					var controls = {};
					var controlsDom = $(frameworksDom.get(j)).find('security_control');
					
					for (var k = 0 ; k < controlsDom.size(); k++){
						
						var controlID = controlsDom.get(k).getAttribute('id');
						 
						
						controls[controlID] ={
							id : controlID,
							//name : frameworksDom.get(j).getAttribute('name'),
							//descr : frameworksDom.get(j).getAttribute('descr'),
							defWeight: $($(controlsDom.get(k)).find('importance_weight')[0]).text()
					     };
					
					}
					
					
					frameworks[frameworksDom.get(j).getAttribute('id')] = {
						id : frameworksDom.get(j).getAttribute('id'),
						//name : frameworksDom.get(j).getAttribute('name'),
						//descr : frameworksDom.get(j).getAttribute('descr'),
						securityControls: controls,
				     };
					
				}
		 
				
				capabilities[capability.attr('id')] ={
					id :  capability.attr('id'),
					name : capability.attr('name'),
					descr :capability.attr('description'),
					frameworks: frameworks,
			     };
				
				
			}
			
			var serviceName = sdts.get(m).getAttribute("wsag:ServiceName");
			var sdtName = sdts.get(m).getAttribute("wsag:Name");
			
			var sdt = {
					 id : m,
					 service:  serviceName,	
					 name: sdtName,
					 capabilities: capabilities
			 }  
			 
			 if (!_services[serviceName]) {
				 _services[serviceName] = [];	 
			 }
			
			_services[serviceName][sdtName] = sdt;	
		}			
	}
	
 
 
 function createSDTlist(){
	//empty list
	_sdtsList.length=0;
	 
	 var sdts = _services['SecureWebServer'];
	 for (var k in sdts){	
			_sdtsList.push(sdts[k]);
		}
  }
 
 

  function createCapabilities() {
		_choicedSDT[0] = $('input[name="SDT_list"]:checked').val();  
  }
	
	

	function createSecurityControls(){
		//empty previous choices
		_choicedCapabilities.length=0;				
		
		$("input:checkbox[name='capabilityCB']:checked").each(function() { 
		
			_choicedCapabilities.push({
					id: $(this).val(),
					controls: []
			});
		
		});				
	}
	
	function createAgreement() {
	
	//empty previous choices
	 for (var i=0; i < _choicedCapabilities.length ; i++) {
		 _choicedCapabilities[i].controls.length=0; 
	 }
			
	 $("input:checkbox[name='SC_CBs']:checked").each(function() {
			
			var splittedVal =  $(this).val().split("^");
			var capabilityID = splittedVal[0];
			var controlID = splittedVal[1];
			
			for (var i=0; i < _choicedCapabilities.length ; i++) {
				 if (_choicedCapabilities[i].id==capabilityID) {
					 _choicedCapabilities[i].controls.push(controlID); 
					  break;
				 }
			 }

		});  
	}
	
	function  resolveXpathPrefixes(prefix) {
	    
		if (prefix == "specs")
	        return "http://specs-project.eu/schemas/sla_related";
	    
		if (prefix == "wsag")
	        return "http://schemas.ggf.org/graap/2007/03/ws-agreement";
	} 
	
	function createOffer(){
	
		var offerDOM = $.parseXML(_slaTEMPLATE);
		$(offerDOM).find('CreationConstraints').remove();
		
		//SDT
		var SDTs = $(offerDOM).find('ServiceDescriptionTerm');
		
	/* 	  var _sdtsList=[]; 
		  var _choicedSDT= [];
		  var _choicedCapabilities = [];
		  var _metrics ={}; */
		
		 var sdtName = _sdtsList[_choicedSDT[0]].name;
		 for (var i=0 ; i < SDTs.length ; i++) {

			$( SDTs[i]).find('security_metrics').remove();
			 
			if (SDTs[i].getAttribute('wsag:Name')!=sdtName){
				SDTs[i].remove();
			} else {
				
				var capabilitiesDOM = $(SDTs[i]).find('capability');
				
				for (var k=0 ; k < capabilitiesDOM.length; k++){
					
					var capID = capabilitiesDOM[k].getAttribute('id');
					var foundCap = false; 
					
					for (var j=0; j <_choicedCapabilities.length; j++) {						
					 					
						if (_choicedCapabilities[j].id == capID){
							
							var secControlsDOM = $(capabilitiesDOM[k]).find('security_control');
							
							for (var l=0 ; l < secControlsDOM.length ; l++){
								
							 	var secControlID = secControlsDOM[l].getAttribute('id');
								var foundControl=false;
							 	
								for (var m=0; m < _choicedCapabilities[j].controls.length; m++){
									
									if ( _choicedCapabilities[j].controls[m]==secControlID){
										
										foundControl=true;
										var secValue = $( "#SC_IMPORTANCE_"+secControlID ).val();
										
										$(secControlsDOM[l]).text(secValue);
									}
									
								}	
							
								if (!foundControl){
									
									secControlsDOM[l].remove();
								}
							
							
							}
							
							foundCap=true;		
						}		
					}
					
					if(!foundCap){
						capabilitiesDOM[k].remove();	
					}					
				}
			}			
			
		 }  
		

		 var gtermsDOM = $(offerDOM).find('GuaranteeTerm');
		 
		 var slosDOM = $(offerDOM).find('SLO');
		 var checkedSLO = {};
			 
			 
		$("input:checkbox[name='METRICS_CBs']:checked").each(function() { 
		
			var sloName = $(this).val();
			
		    checkedSLO[sloName]= {
					id: sloName,
					weight: $( "#SLO_IMPORTANCE_"+sloName ).val(),
					exp:  $( "#SLO_EXP_"+sloName ).val()
			};
		
		});				
		 
		 for (var p=0 ; p < slosDOM.size() ; p++){
		
			 var sloName = slosDOM[p].getAttribute('name');
			 var foundSLO = false;
			 
			 if (checkedSLO[sloName]){
					
				 var expDOM = $(slosDOM[p]).find('expression');
				 var weightDOM =  $(slosDOM[p]).find('importance_weight');
				 
				$(expDOM).text(checkedSLO[sloName].exp);
				$(weightDOM).text(checkedSLO[sloName].weight);
				
				foundSLO=true;
			 
			 } 
			 
			if(!foundSLO){
				
				slosDOM[p].remove();
			} 
			 
		 }
		 
		 

		_slaOFFER = new XMLSerializer().serializeToString(offerDOM);
		_slaOFFER = _slaOFFER.replace(/<!--(.*?)-->/g , "");
		_slaOFFER = _slaOFFER.replace("wsag:Template " , "wsag:Offer ");
		_slaOFFER = _slaOFFER.replace("wsag:Template>" , "wsag:Offer>");
	}
	
</script>										
					<!-- *************************** -->	
<script> <!-- WIZARD -->
	$(document).ready(function() {
	  	$('#rootwizard').bootstrapWizard({onNext: function(tab, navigation, index) {
			
		  		switch(index){
			  		case 1:	getSlaTemplate();
			  				_services=[];
			  				parseTemplate();
			  				createSDTlist();
			  				angular.element(document.getElementById('tab2')).scope().$apply();
			  				$("#SDT_0").attr('checked', 'checked');
			  				break;
			  		case 2: createCapabilities();
			  				angular.element(document.getElementById('tab3')).scope().$apply();
			  				break;
			  		case 3: createSecurityControls();
			  				angular.element(document.getElementById('tab4')).scope().$apply();
			  				break;
			  		case 4: createAgreement();
			  				angular.element(document.getElementById('tab5')).scope().$apply();
	  						break;
			  		case 5: createOffer(); 
			  				LoadXMLString('SLA-OFFER',_slaOFFER);
			  				angular.element(document.getElementById('tab6')).scope().$apply();
	  						break;
			  		/**/
			  		default: /*do nothing*/; break;
		  		}
		  	/**/
			}, //end of onNext
			onTabShow: function(tab, navigation, index) {
				var $total = navigation.find('li').length;
				var $current = index+1;
				var $percent = ($current/$total) * 100;
				$('#rootwizard .progress-bar').css({width:$percent+'%'});
			/**/	
			}, //end of onTabShow
			onTabClick: function(tab, navigation, index) {
				//disable tab clicks
				return false;
			/**/
			} //end of onTabShow
	  	});
		window.prettyPrint && prettyPrint();
	});
</script>



</body>
</html>
